* {
    margin: 0;
    padding: 0;
}   
body{
    content: "";
    width: 100%;
    height: 100%;
    z-index: -10;
    background-image: url("fon.png");
    background-size: cover; 
    background-position-y: bottom;
    background-repeat: no-repeat;
}
header{
    display: inline-block;
}
header h1{
  display: inline-block;
  color: yellow;
  vertical-align: middle;
  -webkit-text-stroke: 1px violet;
}
.header-img{
    display: inline-block;
    margin: 60px;
    vertical-align: middle;
    border-radius: 50%;

}
main{
    text-align: center;
}
.guad{
    display: inline-block;
    text-align: center;
    background-color: #1c1a37;
    width: 148px;
    transform: translateY(30px);
    height: 130px;
    transition: all .3s;
    z-index: 2;
    order: 0;
    box-shadow: 0 15px 30px #0c0a27;
    border-radius: 10px;
}
.guad:hover{
  box-shadow: -10px -10px 30px rgb(56, 214, 249);
}
.guad i{
    margin-top: 50px;
    color: #6f6c99;
}
.guad p{
    margin-top: 10px;
    color: #6f6c99;
}
.gallery img{
    width: 740px;
    height: 600px;
    margin-bottom: 30px;
    border-radius: 15px;
}
.info-server{
  position: absolute;
  float: right;
  height: 92px;
  width: 300px;
  min-height: 92px;
  right: 30px;
  min-width: 300px;
  background: linear-gradient(136.67deg,#FF409A 8.34%,#C438EF 95.26%);
  border-radius: 20px 20px 0 0;
}
.info-server h1{
  padding-top: 23px;
}
.info-server a{
  text-decoration: none;
  color: black;
}